<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-heading">Navigate</li>

      <!-- ======= Admin ======= -->
      {% if user.role == "Admin" %}
        <li class="nav-item">
          <a id="statistics" class="nav-link collapsed" href={% url 'Canteen:home' %}>
            <i class="bi bi-bar-chart"></i>
            <span>Statistics</span>
          </a>
        </li>

        <li class="nav-item">
          <a id="summary" class="nav-link collapsed" href={% url 'Canteen:admin_summary' %}>
            <i class="bi bi-file-earmark-text"></i>
            <span>Summary</span>
          </a>
        </li>

        <li class="nav-item">
          <a id="users" class="nav-link collapsed" href={% url 'Canteen:admin_users' %}>
            <i class="bi bi-people"></i>
            <span>Users</span>
          </a>
        </li>
      {% endif %}
      <!-- ======= Customer ======= -->

      <li class="nav-item">
        <a id="catalog" class="nav-link collapsed" href={% url 'Canteen:customer_catalog' %}>
          <i class="bi bi-grid"></i>
          <span>Catalog</span>
        </a>
      </li>

      {% if not user.role == "Bar NCO" %}
        <li class="nav-item">
          <a id="cart" class="nav-link collapsed" href={% url 'Canteen:customer_checkout' %}>
            <i class="bi bi-cart-check"></i>
            <span>Checkout</span>
          </a>
        </li>
      {% endif %}

      {% if not user.role == "Bar NCO" %}
        <li class="nav-item">
          <a id="history" class="nav-link collapsed" href={% url 'Canteen:customer_history' %}>
            <i class="bi bi-clock-history"></i>
            <span>History</span>
          </a>
        </li>
      {% endif %}

      <!-- ======= Bar NCO ======= -->
      {% if user.role == "Bar NCO" %}
        <li class="nav-item">
          <a id="order" class="nav-link collapsed" href={% url 'Canteen:nco_order' %}>
            <i class="bi bi-arrow-down-square"></i>
            <span>Orders</span>
          </a>
        </li>

        <li class="nav-item">
          <a id="inventory" class="nav-link collapsed" href={% url 'Canteen:nco_inventory' %}>
            <i class="bi bi-archive"></i>
            <span>Inventory</span>
          </a>
        </li>

        <li class="nav-item">
          <a id="bills" class="nav-link collapsed" href={% url 'Canteen:nco_bills' %}>
            <i class="bi bi-card-checklist"></i>
            <span>Bills</span>
          </a>
        </li>
      {% endif %}

    </ul>

  </aside><!-- End Sidebar-->