{% extends 'base.html' %}
{% load static %}

{% block main %}
<main id="main" class="main">

  <div class="pagetitle">
    <h1>Statistics</h1>
  </div><!-- End Page Title -->

  <!-- Pills Tabs -->
  <ul class="nav nav-pills  my-4" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="pills-sales-summary-tab" data-bs-toggle="pill" data-bs-target="#pills-sales-summary" type="button" role="tab" aria-controls="pills-sales-summary" aria-selected="false">Sales Summary</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="pills-category-summary-tab" data-bs-toggle="pill" data-bs-target="#pills-category-summary" type="button" role="tab" aria-controls="pills-category-summary" aria-selected="false">Category Summary</button>
    </li>
  </ul>
  <div class="tab-content pt-2" id="myTabContent">
    <div class="tab-pane fade show active" id="pills-sales-summary" role="tabpanel" aria-labelledby="sales-summary-tab">
      <div class="card p-4">  
        <div class="card-body">
          <table class="table sales-summary">
            <thead>
              <tr>
                <th>Date</th>
                <th>Username</th>
                <th>Product List</th>
                <th>Quantity</th>
                <th>Rate</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td rowspan="3">28/07/2023</td>
                <td>Cpl. Afsar</td>
                <td>Burger</td>
                <td>15</td>
                <td>50 TK</td>
                <td>750 Tk</td>
              </tr>
              <tr>
                <td>Cpl. Afsar</td>
                <td>Coffee</td>
                <td>3</td>
                <td>10 Tk</td>
                <td>30 Tk</td>
              </tr>
              <tr>
                <td>Cpl. Afsar</td>
                <td>Chocolate</td>
                <td>6</td>
                <td>30 Tk</td>
                <td>180 Tk</td>
              </tr>
              <tr>
                <td rowspan="2">29/07/2023</td>
                <td>Cpl. Afsar</td>
                <td>Chips</td>
                <td>5</td>
                <td>20 TK</td>
                <td>100 Tk</td>
              </tr>
              <tr>
                <td>Cpl. Mozammel</td>
                <td>Coffee</td>
                <td>5</td>
                <td>10 Tk</td>
                <td>50 Tk</td>
              </tr>
                <!-- Add more rows as needed -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="pills-category-summary" role="tabpanel" aria-labelledby="category-summary-tab">
      <div class="card p-4">  
        <div class="card-body">
          <table class="table category-summary">
            <thead>
              <tr>
                <th>Date</th>
                <th>Category</th>
                <th>Product List</th>
                <th>Quantity</th>
                <th>Rate</th>
                <th>Total/Category</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td rowspan="5">28/07/2023</td>
                <td rowspan="1">Stationaries</td>
                <td>Pen</td>
                <td>5</td>
                <td>10 Tk</td>
                <td>50 Tk</td>
              </tr>
              <tr>
                <td rowspan="2">Beverage</td>
                <td>Coke</td>
                <td>25</td>
                <td>25 TK</td>
                <td>625 Tk</td>
              </tr>
              <tr>
                <td>Coffee</td>
                <td>3</td>
                <td>10 Tk</td>
                <td>30 Tk</td>
              </tr>
              <tr>
                <td rowspan="2">Food</td>
                <td>Chocolate</td>
                <td>6</td>
                <td>30 Tk</td>
                <td>180 Tk</td>
              </tr>
              <tr>
                <td>Chips</td>
                <td>5</td>
                <td>20 TK</td>
                <td>100 Tk</td>
              </tr>
                <!-- Add more rows as needed -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div><!-- End Pills Tabs -->

</main>
{% endblock main %}

{% block scripts %}
<script>
  $("#summary").removeClass("collapsed");
</script>
{% endblock scripts %}