{% extends 'base.html' %}
{% load static %}

{% block main %}
<main id="main" class="main">
  
  <!-- Page Title -->
  <div class="pagetitle">
    <h1>Users</h1>
  </div><!-- End Page Title -->

  <!-- Pills Tabs -->
  <ul class="nav nav-pills my-4" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="pills-pending-users-tab" data-bs-toggle="pill" data-bs-target="#pills-pending-users" type="button" role="tab" aria-controls="pills-pending-users" aria-selected="true">Pending Users</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="pills-all-users-tab" data-bs-toggle="pill" data-bs-target="#pills-all-users" type="button" role="tab" aria-controls="pills-all-users" aria-selected="false">All Users</button>
    </li>
  </ul>

  <!-- Pending Users -->
  <div class="tab-content pt-2" id="myTabContent">
    <div class="tab-pane fade show active" id="pills-pending-users" role="tabpanel" aria-labelledby="pending-users-tab">
      <div class="card p-4">  
        <div class="card-body">
          <table class="table pending-users">
            <thead>
              <tr>
                <th class="user-sr">Sr.</th>
                <th class="user-image">Picture</th>
                <th class="user-name">Name</th>
                <th class="user-ba">Personal No.</th>
                <th class="user-unit">Unit</th>
                <th class="user-role">Role</th>
                <th class="user-add"></th>
              </tr>
            </thead>
            <tbody>
              {% for p_user in pending_users %}
              <form method=POST action={% url 'Canteen:admin_users' %}>
                {% csrf_token %}
                <tr>
                  <td>{{ forloop.counter }}.</td>
                  <td class="user-image"><img src={{ p_user.image.url }} alt="Image Preview" class="m-2" style="max-width: 50px; height: auto; border-radius: 8px;"></td>
                  <td class="user-name">{{ p_user.name }}</td>
                  <td class="user-ba">{{ p_user.personal_no }}</td>
                  <td class="user-unit">{{ p_user.unit }}</td>
                  <td class="user-role">
                    <select class="form-select" aria-label="Default select example" id="userRole" name="userRole">
                      <option value="Admin">Admin</option>
                      <option value="Bar NCO">Bar NCO</option>
                      <option selected value="Customer">Customer</option>
                    </select>
                  </td>
                  <td class="user-add">
                    <input type="hidden" name="user_id_add" value="{{ p_user.id }}">
                    <button type="submit" class="btn btn-primary">Add</button>
                  </td>
                </tr>
              </form>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div><!-- End Pending Users -->

    <!-- All Users -->
    <div class="tab-pane fade" id="pills-all-users" role="tabpanel" aria-labelledby="all-users-tab">
      <div class="card p-4">  
        <div class="card-body">
          <table class="table all-users">
            <thead>
              <tr>
                <th class="user-sr">Sr.</th>
                <th class="user-image">Picture</th>
                <th class="user-name">Name</th>
                <th class="user-ba">Personal No.</th>
                <th class="user-unit">Unit</th>
                <th class="user-role">Role</th>
                <th class="user-action">Action</th>
              </tr>
            </thead>
            <tbody>
              {% for a_user in all_users %}
                <tr>
                  <td>{{ forloop.counter }}.</td>
                  <td class="user-image"><img src={{ a_user.image.url }} alt="Image Preview" class="m-2" style="max-width: 50px; height: auto; border-radius: 8px;"></td>
                  <td class="user-name">{{ a_user.name }}</td>
                  <td class="user-ba">{{ a_user.personal_no }}</td>
                  <td class="user-unit">{{ a_user.unit }}</td>
                  <td class="user-role">{{ a_user.role }}</td>
                  <td class="user-action">
                    {% if a_user.role != "Admin" %}
                      <form method=POST action={% url 'Canteen:admin_users' %}>
                        {% csrf_token %}
                        <input type="hidden" name="user_id_remove" value="{{ a_user.id }}">
                        <button type="submit" class="btn btn-danger">Remove</button>
                      </form>
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div><!-- End All Users -->
  </div><!-- End Pills Tabs -->

</main>
{% endblock main %}

{% block scripts %}
<script>
  $("#users").removeClass("collapsed");
</script>
{% endblock scripts %}