{% extends 'base.html' %}
{% load static %}

{% block head %}
  <!-- Fontawesome Link for Icons and Carousel Style Sheet -->
  <link rel="stylesheet" href={% static 'assets/css/carousel.css' %}>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
  
  <!-- Carousel JS Script -->
  <script src={% static 'assets/js/carousel.js' %} defer></script>
{% endblock head %}

{% block main %}
<main id="main" class="main">

  <!-- Page Title -->
  <div class="pagetitle d-flex justify-content-between align-items-center">
    <h1>Catalog</h1>
    <div class="search-bar flex-fill" style="max-width: 200px">
      <form class="search-form d-flex align-items-center" method=POST action={% url 'Canteen:customer_catalog' %}>
        {% csrf_token %}
        <input type="text" name="query" id="search-input" placeholder="Enter search keyword" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
      <div id="auto-suggestions" class="auto-suggestions"></div>
    </div>
  </div><!-- End Page Title -->
  

  <div class="wrapper-container">
    
    {% regroup products by category as category_list %}
    {% for c in category_list %}
    <div class="cards px-3">
      <h3 class="card text-center mt-3 p-3">{{ c.grouper }} Category</h3>
    </div>
      {% regroup c.list by subcategory as subcategory_list %}
      {% for s in subcategory_list %}
        <h3 class="mb-3 ps-4" style="font-size: 18px; font-weight: 700; color: #012970; font-family: "Poppins", sans-serif;">{{ s.grouper }}</h3>
        <div class="wrapper" id="wrapper 1">
          <ul class="carousel">
            {% for product in s.list %}
              <li class="card">
                <div class="img"><img src={{ product.image.url }} alt="img" draggable="false"></div>
                <p class="text-center">{{ product.name }}</p>
                <span>Price: {{ product.selling_price }} Tk</span>
                {% if not user.role == "Bar NCO" %}
                  <button 
                    data-id="{{ product.id }}" 
                    data-image="{{ product.image.url }}" 
                    data-name="{{ product.name }}" 
                    data-price="{{ product.selling_price }}" 
                    data-available="{{ product.stock_quantity }}"
                    class="add-to-cart mt-4" 
                    title="Available in inventory: {{ product.stock_quantity }}">
                      Add To Cart
                  </button>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
          <i id="left" class="fa-solid fa-angle-left"></i>
          <i id="right" class="fa-solid fa-angle-right"></i>
        </div>
      {% endfor %}
    {% endfor %}  
    
  </div>  
</main>
{% endblock main %}

{% block scripts %}
<script>
  $("#catalog").removeClass("collapsed");
</script>

<script>
  const keywords = {{ keywords|safe }};
  const searchInput = document.getElementById('search-input');
  const autoSuggestions = document.getElementById('auto-suggestions');

  searchInput.addEventListener('input', () => {
    const inputText = searchInput.value.toLowerCase();
    const matchedKeywords = keywords.filter(keyword => keyword.toLowerCase().includes(inputText));

    if (inputText.length === 0) {
      autoSuggestions.innerHTML = '';
    } else {
      const suggestionsHTML = matchedKeywords.map(keyword => `<div class="suggestion">${keyword}</div>`).join('');
      autoSuggestions.innerHTML = suggestionsHTML;
    }
  });

  autoSuggestions.addEventListener('click', (event) => {
    if (event.target.classList.contains('suggestion')) {
      searchInput.value = event.target.textContent;
      autoSuggestions.innerHTML = '';
    }
  });

  document.addEventListener('click', (event) => {
    if (!autoSuggestions.contains(event.target)) {
      autoSuggestions.innerHTML = '';
    }
  });
</script>

{% endblock scripts %}