{% extends 'base.html' %}
{% load static %}

{% block head %}
<style>
  /* Set the minimum width for the specific columns */
  th:nth-child(2) { /* Second column (Order No.) */
    min-width: 100px; /* Adjust the width as needed */
  }

  th:nth-child(3) { /* Third column (Date and Time) */
    min-width: 140px; /* Adjust the width as needed */
  }

  th:nth-child(4) { /* Fourth column (Product Name, Price, Quantity, Total) */
    min-width: 400px; /* Adjust the width as needed */
  }

  th:nth-child(5) { /* Fifth column (Total Price) */
    min-width: 150px; /* Adjust the width as needed */
  }
</style>
{% endblock head %}

{% block main %}
<main id="main" class="main">

  <div class="pagetitle">
    <h1>Order History</h1>
  </div><!-- End Page Title -->

  
  <form method=POST action={% url "Canteen:customer_history" %} class="row my-4">
    {% csrf_token %}
    <div class="col-3">
      <label for="start_date" class="form-label">Start Date</label>
      <div class="input-group has-validation">
        <input type="date" class="form-control reg-form-input" name="start_date" id="start_date">
      </div>
    </div>
    <div class="col-3">
      <label for="finish_date" class="form-label">Finish Date</label>
      <div class="input-group has-validation">
        <input type="date" class="form-control reg-form-input" name="finish_date" id="finish_date">
      </div>
    </div>
    <div class="col-6 d-flex align-self-end justify-content-start">
      <button class="btn btn-primary w-80 h-50 ms-3" type="submit">Submit</button>
    </div>
  </form>

  <div class="card my-4">
    <div class="card-body">
      <h5 class="card-title">Order History</h5>

      <!-- Table with stripped rows -->
      <div style="width:100%; overflow-x:auto;">
        <table class="table datatable">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Order No.</th>
              <th scope="col">Date and Time</th>
              <th scope="col">
                <div class="row">
                  <div class="col-6">Product Name</div>
                  <div class="col-2">Price</div>
                  <div class="col-2 d-flex justify-content-center">Amount</div>
                  <div class="col-2">Total</div>
                </div>
              </th>
              <th scope="col"><div class="text-center">Total Price </div></th>
              <th scope="col">Payment</th>
            </tr>
          </thead>
          <tbody>
            {% regroup order_list by order as order_list %}
            {% for o in order_list %}
              <tr>
                <th scope="row"><b>{{ forloop.counter }}</b></th>
                <td>#{{ o.grouper.id }}</td>
                <td>{{ o.grouper.timestamp }}</td>
                <td>
                  {% for product in o.list %}
                  <div class="row">
                    <div class="col-6">{{ forloop.counter }}. {{ product.name }}</div>
                    <div class="col-2">{{ product.price }} Tk</div>
                    <div class="col-2 d-flex justify-content-center">{{ product.quantity }}</div>
                    <div class="col-2">{{ product.total }} Tk</div>
                  </div>
                  {% endfor %}
                </td>
                <td><div class="text-center">{{ o.grouper.total }} Tk </div></td>
                <td>
                  {% if o.grouper.paid %}
                    <span class="badge bg-success">Paid</span>
                  {% else %}
                    <span class="badge bg-danger">Due</span>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <!-- End Table with stripped rows -->

    </div>
  </div>

</main>
{% endblock main %}

{% block scripts %}
<script>
  $("#history").removeClass("collapsed");
</script>


<script>
  $(function () {
      $("#start_date").datepicker({dateFormat: 'dd-mm-yy'});
  });
</script>
{% endblock scripts %}