{% extends 'base.html' %}
{% load static %}

{% block head %}
<style>
  /* Set the minimum width for the specific columns */
  th:nth-child(2) { /* Second column (Order No.) */
    min-width: 100px; /* Adjust the width as needed */
  }

  th:nth-child(3) { /* Third column (Date and Time) */
    min-width: 140px; /* Adjust the width as needed */
  }

  th:nth-child(4) { /* Fourth column (Product Name, Price, Quantity, Total) */
    min-width: 400px; /* Adjust the width as needed */
  }

  th:nth-child(5) { /* Fifth column (Total Price) */
    min-width: 150px; /* Adjust the width as needed */
  }
</style>
{% endblock head %}

{% block main %}
<main id="main" class="main">

  <div class="pagetitle">
    <h1>Order History</h1>
  </div><!-- End Page Title -->

  <div class="card my-4">
    <div class="card-body">
      <h5 class="card-title">Monthly Bills</h5>

      <!-- Table with stripped rows -->
      <table class="table datatable">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Order No.</th>
            <th scope="col">Date and Time</th>
            <th scope="col">
              <div class="row">
                <div class="col-5">Product Name</div>
                <div class="col-2">Price</div>
                <div class="col-2">Qnt.</div>
                <div class="col-2">Total</div>
              </div>
            </th>
            <th scope="col">Total Price</th>
          </tr>
        </thead>
        <tbody>
          {% regroup order_list by order as order_list %}
          {% for o in order_list %}
            <tr>
              <th scope="row"><b>{{ forloop.counter }}</b></th>
              <td>#{{ o.grouper.id }}</td>
              <td>{{ o.grouper.timestamp }}</td>
              <td>
                {% for product in o.list %}
                <div class="row">
                  <div class="col-5">{{ product.name }}</div>
                  <div class="col-2">{{ product.price }} Tk</div>
                  <div class="col-2">{{ product.quantity }}</div>
                  <div class="col-2">{{ product.total }} Tk</div>
                </div>
                {% endfor %}
              </td>
              <td>{{ o.grouper.total }} Tk</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <!-- End Table with stripped rows -->

    </div>
  </div>

</main>
{% endblock main %}

{% block scripts %}
<script>
  $("#history").removeClass("collapsed");
</script>
{% endblock scripts %}