{% extends 'base.html' %}
{% load static %}

{% block main %}
<main id="main" class="main">

  <div class="pagetitle">
    <h1>Checkout Items</h1>
  </div><!-- End Page Title -->

  <section id="cart">
    <ul class="cards p-3 row row-cols-auto" id="checkout-list">
      
    </ul>
    <form method=POST action={% url 'Canteen:customer_checkout' %}>
      <div class="total mb-5">
          {% csrf_token %}
          <b>Grand Total: <span id="checkout-grand-total"> </span> Tk</b>
          <input type="hidden" id="cartJson" name="cartJSON" value="">
          <input type="hidden" id="cartTotal" name="cartTotal" value="">
          <button type="submit" class="checkout me-md-5" on>Checkout</button>
      </div>
    </form>
  </section>

</main>
{% endblock main %}

{% block scripts %}
<script>
  $("#cart").removeClass("collapsed");
</script>

{% if thank %}
  <script>
    alert('Thanks for ordering with us. Your order id is {{id}}. Use it to track your order using our order tracker');
    cart = {};
    localStorage.removeItem('cart');
    updateCartUI(cart);
    if (checkoutList) {
      updateCheckoutUI(cart);
    }
    document.location="/customer_checkout/";
  </script>
{%endif%}
{% endblock scripts %}