{% extends 'base.html' %}
{% load static %}

{% block main %}
<main id="main" class="main">

  <!-- Page Title -->
  <div class="pagetitle">
    <h1>Orders</h1>
  </div><!-- End Page Title -->

  <!-- Filter by Personal Number and Date -->
  <form method=POST action={% url "Canteen:nco_bills" %} nonvalidate>
    {% csrf_token %}
    <div  class="row my-4">
      <div class="col-3">
        <div class="has-validation">
          <label for="start_date" class="form-label">Personal Number</label>
          <div class="input-group">
            <select class="form-select" id="prefixSelect" name="prefixType" style="display: inline-block; max-width: fit-content;">
              <option value="BA-" {% if prefix in 'BA-' %} selected{% endif %}>BA-</option>
              <option value="BSS-" {% if prefix in 'BSS-' %} selected{% endif %}>BSS-</option>
              <option value="FO-" {% if prefix in 'FO-' %} selected{% endif %}>FO-</option>
            </select>
            <input type="text" class="form-control reg-form-input" name="personal_no" id="personal_no" {% if number %}value="{{ number }}"{% endif %} required>
          </div>          
          <div class="invalid-feedback">Please, enter your name!</div>
        </div>
      </div>
      <div class="col-4">
        <div class="has-validation">
          <label for="start_date" class="form-label">Start Date (Inclusive)</label>
          <input type="date" class="form-control reg-form-input" name="start_date" id="start_date" {% if start %}value={{start}}{% endif %} required>
          <div class="invalid-feedback">Please, enter your name!</div>
        </div>
      </div>
      <div class="col-4">
        <div class="has-validation">
          <label for="finish_date" class="form-label">Finish Date (Exclusive)</label>
          <input type="date" class="form-control reg-form-input" name="finish_date" id="finish_date" {% if finish %}value={{finish}}{% endif %} required>
        </div>
      </div>
      <input type="hidden" name="btn_type" id="btn_type" val="">
      <div class="col-1 d-flex align-self-end justify-content-start">
        <button class="btn btn-primary w-80 h-50" type="submit" name="form_btn">Submit</button>
      </div>
    </div>
  </form><!-- End Filter by Personal Number and Date -->

  <div class="card my-4">
    <div class="card-body">
      <h5 class="card-title">Order History</h5>

      <!-- Table with stripped rows -->
      <div style="width:100%; overflow-x:auto;">
        <table class="table datatable">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Order No.</th>
              <th scope="col">Personal No.</th>
              <th scope="col">Date and Time</th>
              <th scope="col">
                <div class="row" style="width:600px;">
                  <div class="col-6">Product Name</div>
                  <div class="col-2">Price</div>
                  <div class="col-2 d-flex justify-content-center">Amount</div>
                  <div class="col-2">Total</div>
                </div>
              </th>
              <th scope="col">Total Price</th>
              <th scope="col">Payment</th>
            </tr>
          </thead>
          <tbody>
            {% regroup order_list by order as order_list %}
            {% for o in order_list %}
              <tr>
                <th scope="row"><b>{{ forloop.counter }}</b></th>
                <td>#{{ o.grouper.id }}</td>
                <td>#{{ o.grouper.personal_no }}</td>
                <td>{{ o.grouper.timestamp }}</td>
                <td>
                  {% for product in o.list %}
                  <div class="row" style="width:600px;">
                    <div class="col-6">{{ forloop.counter }}. {{ product.name }}</div>
                    <div class="col-2">{{ product.price }} Tk</div>
                    <div class="col-2 d-flex justify-content-center">{{ product.quantity }}</div>
                    <div class="col-2">{{ product.total }} Tk</div>
                  </div>
                  {% endfor %}
                </td>
                <td>{{ o.grouper.total }} Tk</td>
                <td>
                  {% if o.grouper.paid %}
                    <span class="badge bg-success">Paid</span>
                  {% else %}
                    <span class="badge bg-danger">Due</span>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div><!-- End Table with stripped rows -->

    </div>
  </div>

  <!-- Total Payment Due -->
  {% if start and finish and number %}
    {% if total_due %}
    <form method=POST action={% url 'Canteen:nco_bills' %}>
      {% csrf_token %}
      <div class="total mb-5">
          <b>Total Due: {{ total_due }} Tk</b>
          <input type="hidden" name="start_date" value={{ start }}>
          <input type="hidden" name="finish_date" value={{ finish }}>
          <input type="hidden" name="prefixType" value={{ prefix }}>
          <input type="hidden" name="personal_no" value={{ number }}>
          <div>
            <button class="btn btn-primary w-80 h-50 me-4" type="submit" name="bill_btn">Generate Bill</button>
            <button class="btn btn-success md-5" type="submit" name="payment_btn">Complete Payment</button>
          </div>
      </div>
    </form>
    {% else %}
    <div class="total mb-5">
      <b class="text-success">No Due Left</b>
    </div>
    {% endif %}
  {% endif %}<!-- End Total Payment Due -->

</main>
{% endblock main %}

{% block scripts %}
<script>
  $("#bills").removeClass("collapsed");
</script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock scripts %}