{% extends 'base.html' %}
{% load static %}

{% block head %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock head %}

{% block main %}
<main id="main" class="main">

  <div class="pagetitle">
    <h1>Orders</h1>
  </div><!-- End Page Title -->

  <!-- Barcode Scan -->
  <div class="d-flex justify-content-start align-items-center">
    <div class="p-3 me-4 mt-3">      
      <button type="button" class="btn btn-primary py-2 px-4" id="scan-button" data-toggle="modal" data-target="#addProductModal">Scan</button>

      <!-- Modal -->
      <div class="modal fade" id="addProductModal" tabindex="-1" role="dialog" aria-labelledby="addProductModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="addProductModalLabel">Add Product to Checkout</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <!-- Product Form -->
                <div class="form-group pb-3 row">
                  <div class="col-4">
                    <label for="productName" class="form-label">Barcode</label>
                    <div class="input-group">
                      <input type="text" class="form-control" id="barcode">
                    </div>
                  </div>
                  <div class="col-8">
                    <form method="POST" action="{% url 'Canteen:nco_order' %}" class="row justify-content-around">
                      {% csrf_token %}
                      <div class="col-8">
                        <label for="personal_no" class="form-label">Personal Number</label>
                        <div class="input-group">
                          <select class="form-select" id="prefixSelect" name="prefixType" style="display: inline-block; max-width: fit-content;">
                            <option value="BA-" selected>BA-</option>
                            <option value="BSS-">BSS-</option>
                            <option value="FO-">FO-</option>
                          </select>
                          <input type="text" class="form-control reg-form-input" name="personal_no" id="personal_no" required>
                        </div>
                      </div>
                      <input type="hidden" id="cartJson" name="cartJSON" value="">
                      <input type="hidden" id="cartTotal" name="cartTotal" value="">
                      <button type="submit" class="btn btn-primary col-4 align-self-end" style="height:40px; width:150px;" name="checkout-order">Add to Checkout</button>
                    </form>
                  </div>
                </div>
              
                <!-- Product Table -->
                <table class="table">
                  <thead>
                      <tr>
                        <th>#</th>
                        <th>Product Name</th>
                        <th>Price</th>
                        <th>Qnt</th>
                        <th>Total</th>
                        <th>Actions</th>
                      </tr>
                  </thead>
                  <tbody id="scan-list">
                  </tbody>
              </table>
            </div>
            <div class="modal-footer justify-content-between">
              <div>
                Total: <span id="scan-grand-total"></span>
              </div>
              <div>
                <button type="button" class="btn btn-danger" onclick="clearCart()">Clear All</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Modal -->

    </div>
  </div>
  <section id="order">
    <ul class="cards p-3">
      {% regroup orders_pending by order as order_list %}
      {% for o in order_list %}
      <li class="card mb-3 p-3">
        <div class="row g-0">
          <div class="col-md-12">
            <div class="d-flex justify-content-between">
              <h3>Order: #{{ o.grouper.id }}</h3>
              <h4>{{ o.grouper.personal_no }}</h4>
            </div>
                <div class="p-4 pb-5">
                  <table class="product-table">
                    <tr>
                      <th id="sr">#</th>
                      <th id="order-product">Product</th>
                      <th id="order-quantity">Quantity</th>
                      <th id="order-price">Rate</th>
                      <th id="order-total">Total Price</th>
                    </tr>
                    {% for p in o.list %}
                    <tr>
                      <th id="sr">{{ forloop.counter }}</th>
                      <td id="order-product">{{ p.name }}</td>
                      <td id="order-quantity">{{ p.quantity }}</td>
                      <td id="order-price">{{ p.price }} Tk</td>
                      <td id="order-total">{{ p.total }} Tk</td>
                    </tr>
                    {% endfor %}
                  </table>
                </div>
                <div class="total d-flex justify-content-between align-items-center">
                  <p id="order-total">Total: {{ o.grouper.total }} Tk</p>
                  <form method=POST action={% url 'Canteen:nco_order' %}>
                    {% csrf_token %}
                    <input type="hidden" name="order-id" value="{{ o.grouper.id }}">
                    <button type="submit" class="btn btn-success me-2" name="complete-order">Complete</button>
                    <button type="submit" class="btn btn-danger" name="remove-order">Remove</button>
                  </form>
                </div>
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>  
  </section>
</main>
{% endblock main %}

{% block scripts %}
<script>
  $("#order").removeClass("collapsed");
</script>

<script>
  $(document).ready(function() {
    $('#addProductModal').on('shown.bs.modal', function() {
      $('#barcode').focus();
    });
  });
</script>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
  let product_name = null;
  let product_price = null;
  $(document).ready(function() {
    var barcodeInput = document.getElementById("barcode");
    barcodeInput.addEventListener("change", function(){
      var barcode = $('#barcode').val(); 
      var csrfToken = getCookie('csrftoken');
      //console.log(barcode);
      $.ajax({
        type: 'POST',
        url: {% url "Canteen:get_barcode_data" %},  // Replace with the actual URL of your view
        data: {'barcode': barcode},
        dataType: 'json',
        headers: {
          'X-CSRFToken': csrfToken
        },
        success: function(response) {
          if (response.success) {
            //console.log('Product added.');
            barcodeInput.value = "";
            addToScan(response.id, response.name, response.price);

          } else {
            alert('Failed to add product ' + response.error);
          }
        },
        error: function() {
          alert('Failed to add product. Please try again later.');
        }
      });
    });
  });

  function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
      var cookies = document.cookie.split(';');
      for (var i = 0; i < cookies.length; i++) {
        var cookie = cookies[i].trim();
        if (cookie.substring(0, name.length + 1) === (name + '=')) {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }
</script>

{% if thank %}
  <script>
    cart = {};
    localStorage.removeItem('cart');
    updateScanUI(cart);
  </script>
{%endif%}
{% endblock scripts %}