{% extends 'base.html' %}
{% load static %}

{% block main %}
<main id="main" class="main">

  <div class="pagetitle">
    <h1>Inventory</h1>
  </div><!-- End Page Title -->

  <!-- Pills Tabs -->
  <ul class="nav nav-pills my-4" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="pills-all-product-tab" data-bs-toggle="pill" data-bs-target="#pills-all-product" type="button" role="tab" aria-controls="pills-new-product" aria-selected="true">All Product</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="pills-new-product-tab" data-bs-toggle="pill" data-bs-target="#pills-new-product" type="button" role="tab" aria-controls="pills-new-product" aria-selected="true">Add New Product</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="pills-manage-product-tab" data-bs-toggle="pill" data-bs-target="#pills-manage-product" type="button" role="tab" aria-controls="pills-manage-product" aria-selected="false">Manage Product</button>
    </li>
  </ul>

  <!-- Add New Product -->

  <div class="tab-content pt-2" id="myTabContent">
    <div class="tab-pane fade show active" id="pills-all-product" role="tabpanel" aria-labelledby="all-product-tab">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">All Products List</h5>
          {% comment %} <p>Add lightweight datatables to your project with using the <a href="https://github.com/fiduswriter/Simple-DataTables" target="_blank">Simple DataTables</a> library. Just add <code>.datatable</code> class name to any table you wish to conver to a datatable</p> {% endcomment %}

          <!-- Table with stripped rows -->
          <table class="table datatable">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Product Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Sub Category</th>
                <th scope="col">Category</th>
                <th scope="col">Buying Price</th>
                <th scope="col">Selling Price</th>
              </tr>
            </thead>
            <tbody>
              {% for product in all_products %}
                <tr>
                  <th scope="row">{{ forloop.count }}</th>
                  <td>{{ product.name }}</td>
                  <td>{{ product.stock_quantity }}</td>
                  <td>{{ product.subcategory.name }}</td>
                  <td>{{ product.category.name }}</td>
                  <td>{{ product.buying_price }}</td>
                  <td>{{ product.selling_price }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          <!-- End Table with stripped rows -->

        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="pills-new-product" role="tabpanel" aria-labelledby="new-product-tab">
      <div class="card p-4 mb-5">
        <form method=POST action={% url 'Canteen:nco_inventory' %} class="needs-validation" enctype="multipart/form-data" novalidate>
          {% csrf_token %}
          <div class="d-sm-flex d-md-row">
            <div class="col-md-4 me-md-3 container">
              <div class="image-preview">
                  <img id="preview" src={% static 'assets/img/default.png' %} alt="Image Preview" class="p-3 mb-2" style="max-width: 100%; height: auto; border-radius: 8px;">
              </div>
              <div class="mb-3">
                  <label for="image" class="form-label">Select Image</label>
                  <input type="file" class="form-control" id="image" name="image" onchange="previewImage()" required>
                  <div class="invalid-feedback">Please enter the product image.</div>
              </div>
            </div>
            <div class="col-md-8 me-md-3 container">
              <div class="row g-3">
                <div class="mb-3 col-md-12">
                  <label for="productName" class="form-label">Product Name</label>
                  <input type="text" class="form-control" id="productName" placeholder="Enter product name" name="productName" required>
                  <div class="invalid-feedback">Please enter the product name.</div>
                </div>
                <div class="mb-3 col-10 col-md-5">
                  <label for="category" class="form-label">Category</label>
                  <select class="form-control category" id="category" name="category">
                    <option value="" selected>Select Category</option>
                    {% for category in category_dict %}
                      <option value="{{ category }}">{{ category }}</option>
                    {% endfor %}
                  </select>
                </div>
                <p class="col-2 col-md-1 align-self-end text-center">OR</p>  
                <div class="mb-3 col-md-6 col-sm-12">
                  <label for="new-category" class="form-label">New Category</label>
                  <input type="text" class="form-control" id="new-category" placeholder="Enter New Category" name="new-category">
                  <div class="invalid-feedback">Please enter New Category.</div>
                </div>
                <div class="mb-3 col-10 col-md-5">
                  <label for="subCategory" class="form-label">Sub Category</label>
                  <select class="form-control subCategory" id="subCategory" name="subCategory">
                    <option value="" selected>Select Sub Category</option>
                  </select>
                </div>
                <p class="col-2 col-md-1 align-self-end text-center">OR</p> 
                <div class="mb-3 col-12 col-md-6">
                  <label for="new-category" class="form-label">New Sub Category</label>
                  <input type="text" class="form-control" id="new-sub-category" placeholder="Enter New Sub Category" name="new-sub-category">
                  <div class="invalid-feedback">Please enter New Sub Category.</div>
                </div>
                <div class="mb-3 col-md-6">
                  <label for="buyingPrice" class="form-label">Buying Price</label>
                  <input type="number" class="form-control" id="buyingPrice" placeholder="Enter buying price" name="buyingPrice" required>
                  <div class="invalid-feedback">Please enter the buying price.</div>
                </div>
                <div class="mb-3 col-md-6">
                  <label for="sellingPrice" class="form-label">Selling Price</label>
                  <input type="number" class="form-control" id="sellingPrice" placeholder="Enter selling price" name="sellingPrice" required>
                  <div class="invalid-feedback">Please enter the selling price.</div>
                </div>
                <div class="mb-3 col-md-12">
                  <label for="amount" class="form-label">Amount</label>
                  <input type="number" class="form-control" id="amount" placeholder="Enter amount" name="amount" required>
                  <div class="invalid-feedback">Please enter the amount.</div>
                </div>
                <div class="d-flex justify-content-end mt-5">
                  <input type="hidden" name="form_name" value="add_new_product">
                  <button type="submit" class="btn btn-primary">Add</button>
                </div>
              </div>              
            </div>
          </div>
        </form>
      </div>    
    </div>

    <!-- Manage Product -->

    <div class="tab-pane fade" id="pills-manage-product" role="tabpanel" aria-labelledby="manage-product-tab">
      <div class="row d-flex justify-content-center">

        <!-- Edit Products -->
        <div class="col-md-7 col-sm-11">
          <div class="card">
            <form method=POST action={% url 'Canteen:nco_inventory' %} class="needs-validation" enctype="multipart/form-data" novalidate>
              {% csrf_token %}
              <div class="row g-3 p-4">
                <div class="d-flex justify-content-center mb-3">
                  <h3> Edit Product </h3>
                </div>
                <div class="mb-3 col-md-4">
                  <label for="category" class="form-label">Category<span class="text-danger">*</span></label>
                  <select class="form-control category" id="category" name="category" required>
                    <option value="" selected>Select Category</option>                  
                    {% for category in category_dict %}
                      <option value="{{ category }}">{{ category }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="mb-3 col-md-4">
                  <label for="subCategory" class="form-label">Sub Category<span class="text-danger">*</span></label>
                  <select class="form-control subCategory" id="subCategory" name="subCategory" required>
                    <option value="" selected>Select Sub Category</option>
                  </select>
                </div>
                <div class="mb-3 col-md-4">
                  <label for="productName" class="form-label">Product Name<span class="text-danger">*</span></label>
                  <select class="form-control product" id="productName" name="productName" required>
                    <option value="" selected>Select Product</option>
                  </select>
                </div>
                <div class="mb-3 col-md-12">
                  <label for="editProductName" class="form-label">Edit Product Name</label>
                  <input type="text" class="form-control" id="editProductName" placeholder="Change Product Name" name="editProductName">
                </div>
                <div class="mb-3 col-10 col-md-5">
                  <label for="amount" class="form-label">Add to Inventory</label>
                  <input type="number" class="form-control" placeholder="Enter amount" name="add_amount">
                </div>
                <p class="col-2 col-md-1 align-self-end text-center">OR</p>  
                <div class="mb-3 col-12 col-md-6">
                  <label for="amount" class="form-label">Remove from Inventory</label>
                  <input type="number" class="form-control" placeholder="Enter amount" name="remove_amount">
                </div>
                <div class="mb-3 col-md-6">
                  <label for="buyingPrice" class="form-label">Edit Buying Price</label>
                  <input type="number" class="form-control" id="buyingPrice" placeholder="Enter buying price" name="buyingPrice">
                </div>
                <div class="mb-3 col-md-6">
                  <label for="sellingPrice" class="form-label">Edit Selling Price</label>
                  <input type="number" class="form-control" id="sellingPrice" placeholder="Enter selling price" name="sellingPrice">
                </div>
                <div class="mb-3 col-md-12">
                  <label for="amount" class="form-label">Comment</label>
                  <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" style="height: 120px;"></textarea>
                </div>          
              </div>
              <div class="d-flex justify-content-end m-4">
                <input type="hidden" name="form_name" value="edit_product">
                <button type="submit" class="btn btn-primary">Save</button>
              </div>
            </form>
          </div>
        </div>

        <!-- Edit Category -->
        <div class="col-md-5 col-sm-11">
          <div class="card d-flex justify-content-center">
            <form method=POST action={% url 'Canteen:nco_inventory' %} class="needs-validation" novalidate>
              {% csrf_token %}
              <div class="row g-3 p-4">
                <div class="col-md-12 d-flex justify-content-center mb-3">
                  <h3> Edit Category </h3>
                </div>
                <div class="mb-3 col-md-12">
                  <label for="category" class="form-label">Category<span class="text-danger">*</span></label>
                  <select class="form-control" id="category" name="category" required>
                    <option value="" selected>Select Category</option>
                    {% for category in category_dict %}
                      <option value="{{ category }}">{{ category }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="mb-3 col-md-12">
                  <label for="editCategoryName" class="form-label">Edit Category Name</label>
                  <input type="text" class="form-control" placeholder="Change Product Name" name="editCategoryName">
                </div>           
              </div>
              <div class="d-flex justify-content-end m-4">
                <input type="hidden" name="form_name" value="edit_category">
                <button type="submit" class="btn btn-primary">Save</button>
              </div>
            </form>
          </div>

        <!-- Edit Sub Category -->
          <div class="card d-flex justify-content-center">
            <form method=POST action={% url 'Canteen:nco_inventory' %} class="needs-validation" novalidate>
              {% csrf_token %}
              <div class="row g-3 p-4">
                <div class="col-md-12 d-flex justify-content-center mb-3">
                  <h3> Edit Sub Category </h3>
                </div>
                <div class="mb-3 col-md-6">
                  <label for="category" class="form-label">Category<span class="text-danger">*</span></label>
                  <select class="form-control category" id="category" name="category" required>
                    <option value="" selected>Select Category</option>
                    {% for category in category_dict %}
                      <option value="{{ category }}">{{ category }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="mb-3 col-md-6">
                  <label for="subCategory" class="form-label">Sub Category<span class="text-danger">*</span></label>
                  <select class="form-control subCategory" id="subCategory" name="subCategory" required>
                    <option value="" selected>Select Sub Category</option>
                  </select>
                </div>
                <div class="mb-3 col-md-12">
                  <label for="editCategoryName" class="form-label">Edit Category Name</label>
                  <input type="text" class="form-control" placeholder="Change Sub Category Name" name="editSubCategoryName">
                </div>           
              </div>
              <div class="d-flex justify-content-end m-4">
                <input type="hidden" name="form_name" value="edit_subcategory">
                <button type="submit" class="btn btn-primary">Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div><!-- End Pills Tabs -->

</main>
{% endblock main %}

{% block scripts %}
<script>
  $("#inventory").removeClass("collapsed");
</script>

<script>
  function previewImage() {
      var preview = document.getElementById('preview');
      var imageInput = document.getElementById('image');

      if (imageInput.files && imageInput.files[0]) {
          var reader = new FileReader();

          reader.onload = function(e) {
              preview.src = e.target.result;
          };

          reader.readAsDataURL(imageInput.files[0]);
      }
  }
</script>

<script>
  const categoryDropdowns = document.querySelectorAll('.category');
  const subCategoryDropdowns = document.querySelectorAll('.subCategory');
  const productDropdown = document.querySelector('.product');

  const categoryDict = {{ category_dict|safe }};

  // Function to update subcategory dropdown based on the selected category
  function updateSubCategoryDropdown(categoryDropdown, subCategoryDropdown) {
    const selectedCategory = categoryDropdown.value;
    const subcategories = categoryDict[selectedCategory] || {};

    subCategoryDropdown.innerHTML = '<option value="" selected>Select Sub Category</option>';

    for (const subcategory in subcategories) {
      if (subcategories.hasOwnProperty(subcategory)) {
        const option = document.createElement('option');
        option.value = subcategory;
        option.textContent = subcategory;
        subCategoryDropdown.appendChild(option);
      }
    }
  }

  // Function to update products based on the selected subcategory
  function updateProducts(categoryDropdown, subCategoryDropdown, productDropdown) {
    const selectedSubCategory = subCategoryDropdown.value;
    const selectedCategory = categoryDropdown.value;
    const subcategories = categoryDict[selectedCategory] || {};
    const products = subcategories[selectedSubCategory] || [];

    productDropdown.innerHTML = '<option value="" selected>Select Product</option>';

    products.forEach(product => {
      const option = document.createElement('option');
      option.value = product;
      option.textContent = product;
      productDropdown.appendChild(option);
    });
  }

  // Attach event listeners to all pairs of category and subcategory dropdowns
  categoryDropdowns.forEach((categoryDropdown, index) => {
    const subCategoryDropdown = subCategoryDropdowns[index];

    // Initial updates
    updateSubCategoryDropdown(categoryDropdown, subCategoryDropdown);

    // Event listener for category change
    categoryDropdown.addEventListener('change', () => {
      updateSubCategoryDropdown(categoryDropdown, subCategoryDropdown);
    });

    // Event listener for subcategory change
    subCategoryDropdown.addEventListener('change', () => { // Assuming you have a product dropdown
      updateProducts(categoryDropdown, subCategoryDropdown, productDropdown);
    });
  });
</script>


{% endblock scripts %}