{% extends 'base.html' %}
{% load static %}

{% block main %}
<main id="main" class="main">

    <div class="pagetitle">
      <h1>Profile</h1>
    </div><!-- End Page Title -->

    <section class="section profile">
      <div class="row">
        <div class="col-xl-4">

          <div class="card">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

              <img src={{ user.image.url }} alt="Profile" class="rounded-circle">
              <h2 class="mt-4">{{ user.name }}</h2>
              <h3 class="mt-2">{{ user.personal_no }}</h3>
            </div>
          </div>

        </div>

        <div class="col-xl-8">

          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Change Password</button>
                </li>

              </ul>
              <div class="tab-content pt-2">

                <div class="tab-pane fade show active profile-overview" id="profile-overview">

                  <h5 class="card-title">Profile Details</h5>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Full Name</div>
                    <div class="col-lg-9 col-md-8">{{ user.last_name }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Rank</div>
                    <div class="col-lg-9 col-md-8">{{ user.first_name }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Unit</div>
                    <div class="col-lg-9 col-md-8">{{ user.unit }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Address</div>
                    <div class="col-lg-9 col-md-8">{{ user.address }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Phone</div>
                    <div class="col-lg-9 col-md-8">{{ user.phone }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Email</div>
                    <div class="col-lg-9 col-md-8">{{ user.email }}</div>
                  </div>

                </div>

                <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                  <!-- Profile Edit Form -->
                  <form method="POST" action="{% url 'Canteen:profile' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row mb-3">
                      <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Profile Image</label>
                      <div class="col-md-8 col-lg-9">
                        <img id="preview" src={{ user.image.url }} alt="Profile">
                        <div class="pt-2">
                          <input type="file" id="image" name="image" style="display: none;">
                          <button class="btn btn-primary btn-sm" type="button" onclick="uploadImage()"><i class="bi bi-upload me-2"></i> Upload Image</button>
                        </div>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Full Name</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="fullName" type="text" class="form-control" id="fullName" {% if user.last_name %} value="{{ user.last_name }}" {% endif %} >
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="rank" class="col-md-4 col-lg-3 col-form-label">Rank</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="rank" type="text" class="form-control" id="rank" {% if user.first_name %} value="{{ user.first_name }}" {% endif %}>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="unit" class="col-md-4 col-lg-3 col-form-label">Unit</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="unit" type="text" class="form-control" id="unit" {% if user.unit %} value="{{ user.unit }}" {% endif %}>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Address" class="col-md-4 col-lg-3 col-form-label">Address</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="address" type="text" class="form-control" id="Address" {% if user.address %} value="{{ user.address }}" {% endif %}>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Phone" class="col-md-4 col-lg-3 col-form-label">Phone</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="phone" type="text" class="form-control" id="Phone" {% if user.phone %} value="{{ user.phone }}" {% endif %}>
                      </div>
                    </div>

                    <div class="text-center">
                      <button type="submit" name="saveChanges" class="btn btn-primary">Save Changes</button>
                    </div>
                  </form><!-- End Profile Edit Form -->

                </div>

                <div class="tab-pane fade pt-3" id="profile-change-password">
                  <!-- Change Password Form -->
                  <form method="POST" action="{% url 'Canteen:profile' %}" >
                    {% csrf_token %}
                    <div class="row mb-3">
                      <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="password" type="password" class="form-control" id="currentPassword" required>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New Password</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="newpassword" type="password" class="form-control" id="newPassword" required>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Re-enter New Password</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="renewpassword" type="password" class="form-control" id="renewPassword" required>
                      </div>
                    </div>

                    <div class="text-center">
                      <button type="submit" name="changePassword" class="btn btn-primary">Change Password</button>
                    </div>
                  </form><!-- End Change Password Form -->

                </div>

              </div><!-- End Bordered Tabs -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->
{% endblock main %}

{% block scripts %}
<script>
  function previewImage() {
      var preview = document.getElementById('preview');
      var imageInput = document.getElementById('image');

      if (imageInput.files && imageInput.files[0]) {
          var reader = new FileReader();

          reader.onload = function(e) {
              preview.src = e.target.result;
          };

          reader.readAsDataURL(imageInput.files[0]);
      }
      else{
        var reader = new FileReader();

        reader.onload = function(e) {
            preview.src = e.target.result;
        };
        console.log("Done");

        reader.readAsDataURL('assets/img/default.png');
      }
  }

  const fileInput = document.getElementById('image');

  function uploadImage() {
    fileInput.click();
  }

  fileInput.addEventListener('change', function(event) {
    previewImage();
  });
</script>
{% endblock scripts %}