{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href={% static 'assets/css/carousel.css' %}>
    <!-- Fontawesome Link for Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <script src={% static 'assets/js/carousel.js' %} defer></script>
{% endblock head %}

{% block main %}
<main id="main" class="main">
  <div class="pagetitle d-flex justify-content-between align-items-center">
    <h1>Catalog</h1>
    <div class="search-bar flex-fill" style="max-width: 200px">
      <form class="search-form d-flex align-items-center" method=POST action={% url 'Canteen:customer_catalog' %}>
        {% csrf_token %}
        <input type="text" name="query" id="search-input" placeholder="Enter search keyword" title="Enter search keyword" value="{{ query }}">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
      <div id="auto-suggestions" class="auto-suggestions"></div>
    </div>
  </div><!-- End Page Title -->
  

  <div class="wrapper-container">
    
    {% regroup products by category as category_list %}
    {% for c in category_list %}
    <div class="cards p-3">
      <h3 class="card text-center my-3 p-3">{{ c.grouper }} Category</h3>
    </div>
      {% regroup c.list by subcategory as subcategory_list %}
      {% for s in subcategory_list %}
        <h3 class="card-title mb-3 ps-4">{{ s.grouper }}</h3>
        <div class="wrapper" id="wrapper 1">
          <ul class="carousel">
            {% for product in s.list %}
              <li class="card">
                <div class="img"><img src={{ product.image.url }} alt="img" draggable="false"></div>
                <p class="text-center">{{ product.name }}</p>
                <span>Price: {{ product.selling_price }} Tk</span>
                <button class="add-to-cart" data-id="{{ product.id }}">Add to Cart</button>
              </li>
            {% endfor %}
          </ul>
          <i id="left" class="fa-solid fa-angle-left"></i>
          <i id="right" class="fa-solid fa-angle-right"></i>
        </div>
      {% endfor %}
    {% endfor %}  
    
  </div>  
</main>
{% endblock main %}

{% block scripts %}
<script>
  $("#catalog").removeClass("collapsed");
</script>

<script>
  const keywords = {{ keywords|safe }};
  const searchInput = document.getElementById('search-input');
  const autoSuggestions = document.getElementById('auto-suggestions');

  searchInput.addEventListener('input', () => {
    const inputText = searchInput.value.toLowerCase();
    const matchedKeywords = keywords.filter(keyword => keyword.toLowerCase().includes(inputText));

    if (inputText.length === 0) {
      autoSuggestions.innerHTML = '';
    } else {
      const suggestionsHTML = matchedKeywords.map(keyword => `<div class="suggestion">${keyword}</div>`).join('');
      autoSuggestions.innerHTML = suggestionsHTML;
    }
  });

  autoSuggestions.addEventListener('click', (event) => {
    if (event.target.classList.contains('suggestion')) {
      searchInput.value = event.target.textContent;
      autoSuggestions.innerHTML = '';
    }
  });

  document.addEventListener('click', (event) => {
    if (!autoSuggestions.contains(event.target)) {
      autoSuggestions.innerHTML = '';
    }
  });
</script>

<script>
  const addToCartButtons = document.querySelectorAll('.add-to-cart');
  const csrfToken = "{{ csrf_token }}";

  addToCartButtons.forEach(button => {
      button.addEventListener('click', addToCart);
  });
  
  function addToCart(event) {
      const productId = event.target.dataset.id;
      console.log(productId)
      const quantity = 1;  // You can adjust this as needed
  
      fetch('/Canteen/add_to_cart/', {
          method: 'POST',
          headers: {
              'Content-Type': 'application/x-www-form-urlencoded',
              'X-CSRFToken': csrfToken,  // Replace with the actual CSRF token value
          },
          body: `product_id=${productId}&quantity=${quantity}`,
      })
      .then(response => response.json())
      .then(data => {
          if (data.success) {
              console.log('Product added to cart.');
              updateCartUI(data.cart);
          } else {
              console.error('Failed to add product to cart.');
          }
      })
      .catch(error => {
          console.error('Error adding product to cart:', error);
      });
  }

  function updateCartUI(cart) {
    const cartBadge = document.querySelector('.badge-number.cart');
    const cartDropdown = document.querySelector('.dropdown-menu.cart');

    const cartItemsCount = Object.keys(cart).length;
    cartBadge.textContent = cartItemsCount;
    cartDropdown.innerHTML = ''; // Clear previous items

    if (cartItemsCount > 0) {
        const cartHeader = document.createElement('li');
        cartHeader.classList.add('dropdown-header');
        cartHeader.textContent = `You have ${cartItemsCount} items in cart`;
        const orderLink = document.createElement('a');
        orderLink.href = '#';
        orderLink.innerHTML = `<span class="badge rounded-pill bg-primary p-2 ms-2">Order</span>`;
        cartHeader.appendChild(orderLink);
        cartDropdown.appendChild(cartHeader);

        const cartDivider = document.createElement('li');
        cartDivider.innerHTML = `<hr class="dropdown-divider">`;
        cartDropdown.appendChild(cartDivider);

        for (const productId in cart) {
          const item = cart[productId];
          const cartItem = document.createElement('li');
          cartItem.classList.add('notification-item');
          cartItem.innerHTML = `
          <div>
            <h4 class="mb-0">${item.name}</h4>
            <p class="mb-1">${item.quantity} x ${item.selling_price.toFixed(2)} Tk</p>
            <p class="mb-0">${(item.quantity * item.selling_price).toFixed(2)} Tk</p>
          </div>`;
          cartDropdown.appendChild(cartItem);
        };
    }
}
</script>  

{% endblock scripts %}