{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href={% static 'assets/css/carousel.css' %}>
    <!-- Fontawesome Link for Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <script src={% static 'assets/js/carousel.js' %} defer></script>
{% endblock head %}

{% block main %}
<main id="main" class="main">
  <div class="pagetitle">
    <h1>Catalog</h1>
    {% comment %} <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">{Customer Name}</a></li>
        <li class="breadcrumb-item active">Home</li>
      </ol>
    </nav> {% endcomment %}
  </div><!-- End Page Title -->
  <div class="search-bar flex-fill mt-5">
    <form class="search-form d-flex align-items-center" method="POST" action="#">
      <input type="text" name="query" placeholder="Enter search keyword" title="Enter search keyword">
      <button type="submit" title="Search"><i class="bi bi-search"></i></button>
    </form>
  </div><!-- End Search Bar -->


  <div class="wrapper-container">
    {% for category in categories %}
    <div class="cards p-3">
      <h3 class="card text-center my-3 p-3">{{ category.name }} Category</h3>
    </div>
      {% for subcategory in subcategories %}
      {% if subcategory.category.id == category.id %}
        <h3 class="card-title mb-3 ps-4">{{ subcategory.name }}</h3>
        <div class="wrapper" id="wrapper 1">
          <ul class="carousel">
            {% for product in products %}
            {% if product.subcategory.id == subcategory.id %}
              <li class="card">
                <div class="img"><img src={{ product.image.url }} alt="img" draggable="false"></div>
                <p class="text-center">{{ product.name }}</p>
                <span>Price: {{ product.selling_price }} Tk</span>
                <button id="{{ product.id }}" class="mt-4">Add To Cart</button>
              </li>
            {% endif %}
            {% endfor %}
          </ul>
          <i id="left" class="fa-solid fa-angle-left"></i>
          <i id="right" class="fa-solid fa-angle-right"></i>
        </div>
      {% endif %}
      {% endfor %}
    {% endfor %}    
    
  </div>  
</main>
{% endblock main %}

{% block scripts %}
<script>
  $("#catalog").removeClass("collapsed");
</script>
{% endblock scripts %}