<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-heading">Navigate</li>

      <li class="nav-item">
        <a id="home" class="nav-link collapsed" href={% url 'Canteen:home' %}>
          <i class="bi bi-house"></i>
          <span>Home</span>
        </a>
      </li>

      <!-- ======= Customer ======= -->

      <li class="nav-item">
        <a id="catalog" class="nav-link collapsed" href={% url 'Canteen:customer_catalog' %}>
          <i class="bi bi-grid"></i>
          <span>Catalog</span>
        </a>
      </li>

      <li class="nav-item">
        <a id="cart" class="nav-link collapsed" href={% url 'Canteen:customer_cart' %}>
          <i class="bi bi-cart-check"></i>
          <span>Cart</span>
        </a>
      </li>

      <li class="nav-item">
        <a id="history" class="nav-link collapsed" href={% url 'Canteen:customer_history' %}>
          <i class="bi bi-clock-history"></i>
          <span>History</span>
        </a>
      </li>

      <!-- ======= Bar NCO ======= -->

      <li class="nav-item">
        <a id="order" class="nav-link collapsed" href={% url 'Canteen:nco_order' %}>
          <i class="bi bi-arrow-down-square"></i>
          <span>Orders</span>
        </a>
      </li>

      <!-- ======= Other Pages ======= -->

      <li class="nav-heading">Pages</li>

      <li class="nav-item">
        <a id="profile" class="nav-link collapsed" href={% url 'Canteen:profile' %}>
          <i class="bi bi-person"></i>
          <span>Profile</span>
        </a>
      </li>

      <li class="nav-item">
        <a id="contact" class="nav-link collapsed" href={% url 'Canteen:contact' %}>
          <i class="bi bi-envelope"></i>
          <span>Contact</span>
        </a>
      </li>

      <li class="nav-item">
        <a id="register" class="nav-link collapsed" href={% url 'Canteen:register' %}>
          <i class="bi bi-card-list"></i>
          <span>Register</span>
        </a>
      </li>

      <li class="nav-item">
        <a id="login" class="nav-link collapsed" href={% url 'Canteen:login' %}>
          <i class="bi bi-box-arrow-in-right"></i>
          <span>Login</span>
        </a>
      </li>

    </ul>

  </aside><!-- End Sidebar-->